
body {
    background-color: #2d3436;
    -ms-user-select: none; 
    -moz-user-select: none; 
    -webkit-user-select: none; 
    user-select: none; 
    margin: 0; 
    height: 100%; 
    overflow: hidden;

}

.svet{
    width: 80%;
max-width: 550px;
position: relative;
box-shadow: 20px -15px 300px 160px rgb(212, 189, 58);
position: absolute;
top: 860px;
right: 10px;
}

.coin{
    position: relative;
    margin: 0 auto;
    top: 350px;
    display: block;
    width: 350px;
    height: 350px;
    transition: 0.2s all; 
    box-shadow:none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    border-radius: 100%;
    overflow: hidden;
    
}
.coin:active{
    transform: scale(0.98); 
    /* Scaling button to 0.98 to its original size */ 
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24); 
    /* Lowering the shadow */ 
}
input:focus {
    outline:none;
}

a{
    color: aliceblue;
    position: relative;
    margin: 0 auto;
    width: 300px;
    height: 300px;
}

.click{
    position: relative;
    text-align: center;
    top: -290px;
    font-size: 70px;
    font-family: Blippo, fantasy;
}




@media screen and (max-device-width:480px){
    
    body {
        background-color: #141414;
        -ms-user-select: none; 
		-moz-user-select: none; 
		-webkit-user-select: none; 
		user-select: none; 
        margin: 0; 
        height: 100%; 
        overflow: hidden;
        opacity: 0;
        animation: ani 0.5s forwards;
      }
      
      @keyframes ani {
        0% {opacity: 0;}
        100% {opacity: 1;}
      }

    a{
        
        text-decoration:none;
        font-family: Verdana, sans-serif;
        font-weight: 900;
        
    }
    
    .svet{
        width: 80%;
  max-width: 550px;
  box-shadow: 20px -15px 300px 160px rgba(212, 189, 58, 0.856);
  position: absolute;
  top: 960px;
    }

    .coin{
        position: relative;
        margin: 0 auto;
        top: 280px;
        display: block;
        width: 350px;
        height: 350px;
        box-shadow:none;
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
        border-radius: 100%;
        transition: all .2s ease-in-out;
}

.сoin:active {
	transform: scale(1.1);
	transition: .1s;
}
    input:focus {
        outline:none;
    }

    .clicks{
        color: aliceblue;
        position: relative;
        margin: 0 auto;
        width: 300px;
        height: 300px;
        top: -80px;
    }
    
    .click{
        position: relative;
        text-align: center;
        top: -290px;
        font-size: 70px;
        font-family: Verdana, sans-serif;
        font-weight: 900;
    }
    
    .menu{
        position: relative;
display: flex;
justify-content: center;
top: 100px;
    }
    .shopbutton{
        margin-left: 10px;
        width: 100px;
        height: 55px;
        background-color: #00000000;
        color: white;
        border: solid 1px;
        border-color: white;
        border-radius: 20px 6px 6px 20px;
        font-family: Verdana, sans-serif;
        font-weight: 900;
        bottom: -50px;
    }

    #oneb{
        border-radius: 6px 6px 6px 6px;
    }
    #toob{
        border-radius: 6px 20px 20px 6px;
    }
    #zatemnenie {
        background: rgba(102, 102, 102, 0);
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        display: none;
      }
      #okno {
        height: 90%;
        text-align: center;
        padding: 15px;
        border-radius: 35px 35px 0 0;
        position: absolute;
        top: 250px;
        right: 0;
        bottom: 0;
        left: 0;
        margin: auto;
        background: #383838fb;
        opacity: 0;
        animation: ani 0.5s forwards;
      }
      
      @keyframes ani {
        0% {opacity: 0;}
        100% {opacity: 1;}
      }

  
      #zatemnenie:target {display: block;}
      .close {
        position: fixed;
left: 50%;
transform: translate(-50%, -50%);
        width: 50px;
        height: 7px;
        border-radius: 5px;
        display: inline-block;
        top:170px;
        text-decoration: none;
        background: rgb(255, 255, 255);
        font-size: 14pt;
        cursor:pointer;
      }
      .shops{
        text-align: center;
        font-size: 20px;
        color: white;
        font-family: Verdana, sans-serif;
        font-weight: 900;
      }
      .button_in_shop{
        height: 90px;
        width: 150px;
        color: white;
        border-radius: 0 25px 25px 25px;
        position: relative;
        right: 20%;
        font-family: Verdana, sans-serif;
        font-weight: 500;
        background-color: #292727;
        border: none;
        text-align: left;
        flex-direction:column;
        font-size: 15px;
        
      }
      #info {
        background: #38383800;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        display: none;
      }
      #inf {
        height: 90%;
        text-align: center;
        padding: 15px;
        border-radius: 35px 35px 0 0;
        position: absolute;
        top: 250px;
        right: 0;
        bottom: 0;
        left: 0;
        margin: auto;
        background:#383838fb;
        opacity: 0;
        animation: ani 0.5s forwards;
      }
      
      @keyframes ani {
        0% {opacity: 0;}
        100% {opacity: 1;}
      }

  
      #info:target {display: block;}
      .close {
        position: fixed;
left: 50%;
transform: translate(-50%, -50%);
        width: 50px;
        height: 7px;
        border-radius: 5px;
        display: inline-block;
        top:170px;
        text-decoration: none;
        background: rgb(255, 255, 255);
        font-size: 14pt;
        cursor:pointer;
      }
      .upbutton{
        width: 380px;
        height: 100px;
        background-color: rgb(0, 89, 255);
        border: none;
        border-radius: 25px;
        color: white;
        font-family: Verdana, sans-serif;
        font-weight: 900;
        margin: 0 auto;
        display: block;
        position: relative;
        top: 87%;
        }
        .info_text{
            width: 380px;
            height: 580px;
            background-color: #14141463;
            position: absolute;
            left: 0; 
  right: 0; 
  top: 30px;
  margin-left: auto; 
  margin-right: auto; 
            border-radius: 20px;
        }
        h1{
            color: white;
        font-family: Verdana, sans-serif;
        font-weight: 900;
        text-align: center;
        }
        .info_boost{
            color: white;
            text-align: left;
            top: 10%;
            position: relative;
            font-family: Verdana, sans-serif;
        font-weight: 900;
        }
}

